/*==merchant slider css override ==*/
.tp-bullets.hidebullets{
    opacity: 1;
    z-index: 99;
}

.tp-bullets.simplebullets.round .bullet{
    background: #d6d6d6;
    border-radius: 50%;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 5px 7px;

}

.tp-bullets.simplebullets.round .bullet:hover{
    background: #869791;
}

.tp-bullets.simplebullets.round .bullet.selected{
    background: #869791;
}

.tp-leftarrow.default{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 3px;
}

#me_s_left{
    line-height: 3;
    padding: 10px;
}

#me_s_right{
    line-height: 3;
    padding: 10px;
}

.tp-leftarrow.default:hover{
    background: #f1150d;
}

.tp-rightarrow.default{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 3px;
    
}

.tp-rightarrow.default:hover{
    background: #f1150d;
}

.rev_slider{
    /*==== custom added ==*/
    padding: 20px;
}


.rev_slider img{
    width: 80% !important;
    height: auto;
}