/*== final edits css ==*/

.tw-work-process h2 {
    font-family: 'Poppins', sans-serif;
    /*font-size: 16px;*/
    /*line-height: 28px;*/
}

.tw-work-process h2 {
    font-weight: 600;
    color: #fff;
    /*font-size: 20px;*/
    margin-bottom: 0;
    margin-top: 20px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.tw-work-process h2:hover{
    transition: transform .2s;
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}

.tw-work-process:hover p{
    transition: transform 1s;
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}

/*.tw-work-process img:hover p{
    transition: transform .2s;
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}*/

.casestudy-content {
    background: #f7f7f7;
    /*padding: 21px 30px 6px;*/
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.casestudy-content h2 {
    padding: 0;
    margin-bottom: 3px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-weight: 600;
}

@media (min-width: 950px) and (max-width: 1076px) {
    .casestudy-content h2 {
        font-size: 25px;
    }

}

.tw-case-study-box-1:hover .casestudy-content h2 {
    color: #6296f8;
}

.tw-case-study-box-2:hover .casestudy-content h2 {
    color: #ffc81b;
}

.tw-case-study-box-3:hover .casestudy-content h2 {
    color: #3f1906;
}

.tw-case-study-box-4:hover .casestudy-content h2 {
    color: #4b0d56;
}

.study-bg-7 {
    background: #574605
}

.study-bg-8 {
    background: #2b1742
}

.study-bg-9 {
    background: #b4e245
}

.tw-case-study-box-7:hover .casestudy-content h2 {
    color: #574605;
}

.tw-case-study-box-8:hover .casestudy-content h2 {
    color: #2b1742;
}

.tw-case-study-box-9:hover .casestudy-content h2 {
    color: #b4e245;
}

/*== about us bannner== */
.about-banner-area {
    position: relative;
    color: #fff;
    background-image: url("../images/client_images/about\ us.webp");
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.spot-banner-area {
    position: relative;
    color: #fff;
    background-image: url("../images/client_images/why\ spotoffers.webp");
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about-banner-area .container {
    position: relative;
}

.spot-banner-area .container {
    position: relative;
}

.banner-title {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    text-align: right;
    width: 100%;
}

.banner-heading {
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 350px;
}

#main-container img{
    width: 80%;
}

#main-container {
   min-height: 0vh;
   padding-bottom: 70px;
}