.slider-descx {
  color: #585858;
  font-size: 300%;
  margin-bottom: 30px;
  font-weight: bolder;
}

.slider-descx-d {
  color: #585858;
  font-size: 200%;
  margin-bottom: 30px;
  font-weight: bolder;
}




.slider-img{
  /* height: 30rem;
  height: auto; */
}

.slider-contentx p{
  font-size: 200%;
}
