ul#portfolio-grid>li{
    float: left;
    display: block;
    height: auto;
}


.hover-two .portfolio:hover .portfolio-description .links {
    top: 25px;
}
.hover-two .portfolio .dark-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.hover-two .portfolio .orange-overlay {
    background-color: rgba(255, 152, 0, 0.9);
}

.portfolio-item.gutter-space {
    margin-bottom: 20px!important;
}


.portfolio-item.gutter {
    margin-bottom: 20px!important;
}


.portfolio {
    position: relative;
    overflow: hidden;
}

/* Portfolio overlay default
/* ------------------------------ */
.portfolio .dark-overlay, .portfolio .orange-overlay {
    background-color: #ec407a;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
	visibility:hidden;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.portfolio:hover .dark-overlay{
    opacity: 1;
	visibility:visible;
}

.portfolio:hover .orange-overlay{
    opacity: 1;
	visibility:visible;
}


.portfolio-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -88px;
}
.portfolio-description .portfolio-title,
.portfolio-description .links {
    position: relative;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.portfolio-description .portfolio-title {
    top: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.portfolio:hover .portfolio-description .portfolio-title {
    top: 30px;
    opacity: 1;
    visibility: visible;
}
.portfolio-description .links {
    top: 0px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
	text-transform: uppercase;
}
.portfolio:hover .portfolio-description .links {
    top: 25px;
    opacity: 1;
    visibility: visible;
}
.portfolio-description .btn {
    background-color: transparent;;
    border-color: #fff;
    padding: 12px 22px;
    border-radius: 20px;
}
.portfolio-description .btn:hover {
    background-color: #fff;;
    border-color: #fff;
    color: #ff2a40;
}
.portfolio-container .btn.view-more {
    margin-top: 40px;
}


.photo-gallery .portfolio-wrap {
    margin-top: -60px;
}



/* Portfolio Hover Style Two
/* ------------------------------ */

.hover-two .portfolio:hover .portfolio-description .links {
    top: 25px;
}
.hover-two .portfolio .dark-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.hover-two .portfolio .orange-overlay {
    background-color: rgba(255, 152, 0, 0.9);
}

.portfolio .dark-overlay, .portfolio .orange-overlay {
    background-color: #ec407a;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
	visibility:hidden;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.portfolio:hover .dark-overlay{
    opacity: 1;
	visibility:visible;
}

.hover-two .portfolio .dark-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.portfolio-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -88px;
}

.photo-gallery .portfolio-wrap {
    margin-top: -60px;
}

.portfolio-description .portfolio-title,
.portfolio-description .links {
    position: relative;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.portfolio-description .portfolio-title {
    top: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.portfolio:hover .portfolio-description .portfolio-title {
    top: 30px;
    opacity: 1;
    visibility: visible;
}
.portfolio-description .links {
    top: 0px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
	text-transform: uppercase;
}
.portfolio:hover .portfolio-description .links {
    top: 25px;
    opacity: 1;
    visibility: visible;
}
.portfolio-description .btn {
    background-color: transparent;;
    border-color: #fff;
    padding: 12px 22px;
    border-radius: 20px;
}
.portfolio-description .btn:hover {
    background-color: #fff;;
    border-color: #fff;
    color: #ff2a40;
}
.hover-two .portfolio:hover .portfolio-description .links {
    top: 25px;
}